.main-wrapper {
  display: flex;
}
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgb(219, 219, 219);
  background-color: white;
  top: 0px;
  height: 100vh;
  position: fixed;
  width: 265px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
    z-index: 1;
}
.side-bar .tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.side-bar img {
  width: 125px;
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.side-bar .tab-wrapper button {
  border: none;
  background-color: transparent;
  margin: 7px 12px 5px 24px;
  color: rgb(38, 38, 38);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  width: 80%;
  padding: 9px 5px 9px 12px;
  border-radius: 20px;
  transition: background-color 0.3s;
  text-align: left;
}
.side-bar button:hover {
  background-color: rgba(219, 219, 219, 0.266);
}

.main-wrapper-feed {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  /* width: calc(100% - 145px); */
  width: 100%;
  display: flex;
  justify-content: center;
  position:absolute;
  right: 0px;
}
.main-wrapper-feed .feed-wrapper {
  width: 468px;
  margin-right: 50px;
}
.main-wrapper-feed .stories-container {
  margin-top: 16px;
  border: 0.5px solid rgb(219, 219, 219);
  width: 100%;
  padding: 16px;
  margin-top: 32px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.main-wrapper-feed .stories-container::-webkit-scrollbar {
  display: none;
}
.main-wrapper-feed .stories-container .story-wrapper {
  display: flex;
}
.main-wrapper-feed .stories-container .story-wrapper .story {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.main-wrapper-feed .stories-container .story-wrapper .story img {
  width: 56px;
  height: 56px;
  border: 2px solid red;
  border-radius: 50%;
  padding: 2px;
}
.main-wrapper-feed .stories-container .story-wrapper .story p {
  color: rgb(38, 38, 38);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 3px;
}
.main-wrapper-logout {
  position: absolute;
  height: 280px;
  width: 245px;
  bottom: 70px;
  left: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: -1px 1px 5px rgb(219, 219, 219);
}
.upper-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-wrapper-logout .upper-div button {
  border: none;
  border-bottom: 1px solid rgb(219, 219, 219);
  background-color: transparent;
  color: rgb(38, 38, 38);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  padding: 7px 5px 7px 12px;
  transition: background-color 0.3s;
  text-align: left;
}
.main-wrapper-logout .lower-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}
.main-wrapper-logout .lower-div button {
  border: none;
  border-bottom: 1px solid rgb(219, 219, 219);
  background-color: transparent;
  color: rgb(38, 38, 38);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  padding: 7px 5px 7px 12px;
  transition: background-color 0.3s;
  text-align: left;
}
.main-wrapper-feed .suggestion-wrapper {
  height: 500px;
  width: 347px;
  margin-top: 50px;
}
.main-wrapper-feed .suggestion-wrapper .profile-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.main-wrapper-feed .suggestion-wrapper .profile-pic img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.main-wrapper-feed .suggestion-wrapper .profile {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.main-wrapper-feed .suggestion-wrapper .profile span {
  margin: 1px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.main-wrapper-feed .suggestion-wrapper .profile .user-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: rgb(38, 38, 38);
  cursor: pointer;
}
.main-wrapper-feed .suggestion-wrapper .profile .profile-name {
  font-size: 14px;
  color: rgb(142, 142, 142);
}
.main-wrapper-feed .suggestion-wrapper .switch-account {
  text-align: right;
  position: absolute;
  right: 0px;
  color: #0095f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.main-wrapper-feed .suggestion-wrapper .switch-account:hover {
  color: rgb(134, 191, 222);
}
.main-wrapper-feed .suggestion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.main-wrapper-feed .suggestion :first-child {
  color: rgb(142, 142, 142);
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
.main-wrapper-feed .suggestion :last-child {
  font-size: 12px;
  color: rgb(38, 38, 38);
  font-weight: 600;
  line-height: 16px;
  cursor: pointer;
}
.main-wrapper-feed .suggestion :last-child:hover {
  color: rgb(219, 219, 219);
}
.main-wrapper-feed .suggestion-wrapper .profile-suggestion-main-wrapper {
  margin-top: 15px;
}
.main-wrapper-feed .suggestion-wrapper .profile-div-suggestion {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 8px 0px;
}
.main-wrapper-feed .suggestion-wrapper .profile-div-suggestion img {
  height: 35px;
  width: 35px;
  cursor: pointer;
}
/* .more-button {
  border: none;
  background-color: transparent;
  margin: 7px 12px 5px 24px;
  color: rgb(38, 38, 38);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  width: 80%;
  padding: 9px 5px 9px 12px;
  border-radius: 20px;
  transition: background-color 0.3s;
  text-align: left;
} */

.create-wrapper {
  position: absolute;
  z-index: 200;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100%;
  background-color: #0000007d;
}
.create-wrapper .input-wrapper {
  padding: 200px 150px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.create-wrapper .input-wrapper input[type="file"] {
  /* background-color: #0095f6; */
  height: 40px;
  width: 300px;
  /* border-radius: 10px; */
  border: none;
}
.create-wrapper .close-icon {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.reels-div {
  display: flex;
}
.main-reels-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 20px;
}
.main-reels-wrapper video {
  width: 100%;
}
.main-reels-wrapper .reels-wrapper {
  display: flex;
  position: relative;
  width: 450px;
}

.main-reels-wrapper .reels-details-video {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
}
.main-reels-wrapper .reels-details-video .top-div-reels {
  display: flex;
  align-items: center;
}
.main-reels-wrapper .reels-details-video h1 {
  margin-left: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
.main-reels-wrapper .reels-details-video img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.main-reels-wrapper .reels-details-video .top-div-reels button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 600;
  margin-left: 15px;
}
.main-reels-wrapper .reels-details-video .center-div-reels {
  color: white;
  margin-top: 10px;
  font-size: 14px;
}
.main-reels-wrapper .reels-details-video .bottom-div-reels {
  color: white;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 15px;
}
.main-reels-wrapper .reels-wrapper .reels-details img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.main-reels-wrapper .reels-details {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.main-reels-wrapper .reels-details > * {
  margin: 10px 0px 10px 25px;
  font-size: 35px;
  color: rgb(38, 38, 38);
}
.main-reels-wrapper .reels-details p {
  font-size: 16px;
  color: rgb(38, 38, 38);
  text-align: center;
}
.profile-wrapper-main{
  margin: auto;
}
.profile-wrapper-main header {
  display: flex;
  width: 975px;
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.profile-wrapper-main header img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid lightcoral;
  margin-right: 80px;
}
.profile-wrapper-main header .profile-details .top-div-profile {
  display: flex;
  align-items: center;
}
.profile-wrapper-main .profile-details .top-div-profile .username {
  line-height: 20px;
  font-size: 20px;
  color: rgb(38, 38, 38);
  margin-right: 20px;
}
.profile-wrapper-main .profile-details .top-div-profile button {
  border: none;
  background-color: rgb(239, 239, 239);
  padding: 8px 15px;
  border-radius: 5px;
  color: rgb(38, 38, 38);
  font-size: 14px;
  margin-right: 20px;
}
.profile-wrapper-main .profile-details .top-div-profile .settings {
  font-size: 20px;
  color: rgb(38, 38, 38);
}
.profile-wrapper-main .profile-details .center-div-profile {
  display: flex;
  margin-top: 30px;
}
.profile-wrapper-main .profile-details .center-div-profile > div {
  margin-right: 35px;
}
.profile-wrapper-main .profile-details .profile-bio {
  margin-top: 30px;
}

.main-edit-profile-wrapper{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif;
}
.main-edit-profile-wrapper .edit-wrapper{
  width: 60%;
  border: 1px solid rgb(219, 219, 219);
  margin: auto;
  margin-top: 30px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  left: 417px;
}
.main-edit-profile-wrapper .edit-wrapper .side-bar-edit{
  width: 200px;
  border-right: 1px solid rgb(219, 219, 219);
}
.main-edit-profile-wrapper .edit-wrapper .side-bar-edit button{
  background-color: transparent;
  border: none;
  color: rgb(38, 38, 38);
  padding: 16px 16px 16px 30px;
  font-size: 14px;
  padding-left: 2px;
  text-align: left;
  padding-left: 20px;
}
.main-edit-profile-wrapper .edit-wrapper .side-bar-edit button:hover{
  padding-left: 18px;
  border-left: 2px solid rgb(38, 38, 38);
}

.profile-wrapper{
  position: absolute;
  left: 457px;
}





.profile-edit-container{
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.447);
  width: 100vw;
  height: 100vh;
}
.profile-edit-container input{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
  padding: 100px;
  border-radius: 5px;
  border: 1px solid rgb(239, 239, 239);
} 
.profile-edit-container .close-icon{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
}